.button{
	box-sizing: border-box;
	width: 280px;
	padding-top: 16px;
	padding-bottom: 15px;

	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: $pink;

	background-color: transparent;
	border: 3px solid $pink;
	border-radius: 40px;
}