.button{
	box-sizing: border-box;
	width: 280px;
	padding-top: 16px;
	padding-bottom: 15px;

	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: $pink;

	background-color: transparent;
	border: 3px solid $pink;
	border-radius: 40px;

	transition: background-color 0.3s,
							opacity 0.25s;

	&:hover{
		cursor: pointer;

		background-color: $pink;
		color: #fff;
	}

	&:active{
		color: rgba(#fff,0.3);
	}
}

.button--pale{
	color: #283645;
	border-color: #283645;

	opacity: 0.1;

	&:hover{
		color: #283645;
		border-color: #283645;
		background-color: transparent;

		opacity: 0.3;
	}

	&:active{
		color: rgba(#fff, 0.2);
		background-color: #283645;
	}
}

@media (min-width: $tablet-width){
	.button{
		width: 260px;
	}
}

@media (min-width: $desktop-width){
	.button{
		width: 183px;
	}
}