.contacts{
	position: relative;

	width: 100%;
	background-color: #fff;

	&::before{
		content: "";
		position: absolute;
		bottom: -33px;
		left: 0;
		z-index: 5;

		width: 50%;
    height: 33px;
    background: linear-gradient(to left bottom, 
    	#fff 50%, transparent 50%);
	}

	&::after{
		content: "";
		position: absolute;
		bottom: -33px;
		right: 0;
		z-index: 5;

		width: 50%;
    height: 33px;
    background: linear-gradient(to right bottom, 
    	#fff 50%, transparent 50%);
	}
}

.contacts__wrapper{
	width: 320px;
	margin: 0 auto;
	padding-top: 44px;
}

.contacts__desc{
	margin: 0;
	margin-bottom: 33px;

	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	text-align: center;
}

.contacts__phone,
.contacts__mail{
	margin-bottom: 24px;
}

.contacts__address{
	padding-bottom: 36px;
}

.contacts__field{
	display: block;

	text-align: center;

	&--bold{
		font-size: 18px;
		line-height: 24px;
		font-weight: 700;
		color: #283645;
	}

	&--pink{
		font-size: 24px;
		line-height: 30px;
		font-weight: 300;
		color: $pink;
	}
}

@media (min-width: $tablet-width){
	.contacts{

		&::before{
			bottom: -66px;
	    height: 66px;
		}

		&::after{
			bottom: -66px;
	    height: 66px;
		}
	}

	.contacts__wrapper{
		width: $tablet-width - 40px;

		padding-top: 50px;
	}

	.contacts__desc{
		font-size: 40px;
		line-height: 48px;
	}

	.contacts__row{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.contacts__phone,
	.contacts__mail{
		width: 300px;
		margin-bottom: 37px;
	}

	.contacts__address{
		width: 100%;
		margin: 0;

		padding-bottom: 26px;
	}

	.contacts__field{
		margin-bottom: 3px;
	}
}

@media (min-width: $desktop-width){
	.contacts{

		&::before{
			bottom: -102px;
	    height: 102px;
		}

		&::after{
			bottom: -102px;
	    height: 102px;
		}
	}

	.contacts__wrapper{
		width: 940px;

		padding-top: 69px;
	}

	.contacts__desc{
		margin-bottom: 53px;

		font-size: 50px;
		line-height: 58px;
	}

	.contacts__row{
		width: 100%;
	}

	.contacts__phone,
	.contacts__mail,
	.contacts__address{
		margin-bottom: 0;
	}

	.contacts__phone{
		order: 1;
	}

	.contacts__mail{
		order: 3;
	}

	.contacts__address{
		order: 2;

		width: 300px;
		margin-top: 14px;
		padding-bottom: 18px;
	}

	.contacts__field{
		margin-bottom: 7px;
	}
}