.effect{
	display: none;
}

@media (min-width: $tablet-width){
	.effect{
		display: block;
		background-color: #fff;
	}

	.effect__wrapper{
		width: $tablet-width - 40px;
		margin: 0 auto;

		display: flex;
		justify-content: space-between;
	}

	.effect__col{
		width: 310px;

		&--narrow{
			width: 300px;
		}
	}

	.effect__timer{
		position: relative;

		display: block;
		box-sizing: border-box;

		margin-top: 110px;
		width: 202px;
		height: 202px;

		font-size: 96px;
		line-height: 176px;
		font-weight: 700;
		color: $pink;
		text-align: center;

		border: 13px solid $pink;
		border-radius: 50%;

		&::before{
			content: "";
			position: absolute;
			top: -13px;
			left: -13px;
			z-index: 5;

			box-sizing: border-box;
			width: 202px;
			height: 202px;

			border: 13px solid $pink;
			border-radius: 50%;
		}

		&::after{
			content: "";
			position: absolute;
			top: -69px;
			left: -31px;
			z-index: 1;

			width: 238px;
			height: 276px;

			background-image: url("../img/icon-timer.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: left;
		}
	}

	.effect__title{
		width: 180px;
		margin-top: 98px;
		margin-bottom: 8px;

		font-size: 30px;
		line-height: 36px;
	}

	.effect__desc{
		width: 300px;
		margin-top: 0;
		margin-bottom: 10px;

		font-size: 14px;
		line-height: 24px;
		color: #283645;
	}

	.effect__link{
		display: inline-block;
		vertical-align: top;

		margin-bottom: 27px;

		font-size: 14px;
		line-height: 24px;
		color: $pink;

		&:hover{
			text-decoration: none;
		}

		&:active{
			opacity: 0.6;
		}
	}
}

@media(min-width: $desktop-width){
	.effect{
		background-color: #f2f2f2;
	}

	.effect__wrapper{
		width: 940px;
	}

	.effect__col{
		width: 572px;

		&--narrow{
			width: 368px;
		}
	}

	.effect__timer{
		width: 253px;
		height: 253px;
		margin-top: 80px;

		font-size: 120px;
		line-height: 225px;

		border-width: 16px;

		&::before{
			top: -16px;
			left: -16px;

			width: 253px;
			height: 253px;

			border: 16px solid $pink;
		}

		&::after{
			top: -86px;
			left: -38px;

			width: 300px;
			height: 345px;
		}
	}

	.effect__title{
		width: 100%;

		margin-top: 95px;
		margin-bottom: 25px;
	}

	.effect__desc{
		width: 100%;
		margin-bottom: 30px;

		font-size: 18px;
		line-height: 30px;
	}

	.effect__link{
		margin-bottom: 112px;

		font-size: 18px;
		line-height: 30px;
	}
}