.filter{
	position: relative;

	padding-top: 20px;

	background-color: #f2f2f2;

	&::after{
		content: "";
		position: absolute;
		bottom:201px;
		left: 0;
		right: 0;

		height: 1px;
		background-color: #dddfe0;
	}
}

.filter__wrapper{
	width: 280px;
	margin: 0 auto;
}

.filter__img{

	img{
		display: block;
	}
}

.filter__content{

}

.filter__properties{

	input[type=radio]{
		display: none;
	}
}

.filter__controls{
	display: block;

	margin-top: 42px;
	margin-bottom: 39px;

	text-align: center;
}

.filter__control{
	display: inline-block;
	vertical-align: middle;

	svg{
		display: block;
		fill: #b5b9be;
	}

	&:nth-child(1){
		margin-right: 34px;
	}

	&:nth-child(2){
		margin-right: 40px;
	}
}

.filter__bars{
	height: 2px;

	text-align: center;
}

.filter__bar{
	display: none;
}

input[value=clip]:checked ~ .filter__bars
	.filter__bar.bar--clip{
		display: inline-block;
}

input[value=clip]:checked ~ .filter__controls
	.filter__control[for=filter-clip]{
		svg{
			fill: $pink;
		}
}

input[value=paint]:checked ~ .filter__bars
	.filter__bar.bar--paint{
		display: inline-block;
}

input[value=paint]:checked ~ .filter__controls
	.filter__control[for=filter-paint]{
		svg{
			fill: $pink;
		}
}

input[value=contrast]:checked ~ .filter__bars
	.filter__bar.bar--contrast{
		display: inline-block;
}

input[value=contrast]:checked ~ .filter__controls
	.filter__control[for=filter-contrast]{
		svg{
			fill: $pink;
		}
}

.filter__buttons{

	margin-top: 73px;
	padding-bottom: 41px;
}

.filter__button{
	margin-bottom: 12px;

	&:last-child{
		margin-bottom: 0;
	}
}

@media (min-width: $tablet-width){
	.filter{
		padding-top: 57px;

		&::after{
			display: none;
		}
	}

	.filter__wrapper{
		width: 620px;

		display: flex;
		justify-content: space-between;
	}

	.filter__img{
		width: 300px;
	}

	.filter__content{
		width: 300px;
	}

	.filter__properties{
		display: flex;
	}

	.filter__controls{
		margin-top: 0;
		margin-bottom: 0;

		width: 80px;
		display: flex;
		flex-wrap: wrap;
	}

	.filter__control{
		width: 52px;
		padding-bottom: 23px;
		margin-top: 25px;
		margin-left: 28px;

		svg{
			width: 23px;
			height: 24px;

			fill: $pink;
		}

		&:nth-child(1){
			margin-right: 0;
			margin-top: 9px;
		}	

		&:nth-child(2){
			margin-right: 0;
		}
	}

	.filter__bar{
		position: relative;

		display: inline-block;

		margin-top: 36px;
		margin-bottom: 34px;

		&:first-child{
			margin-top: 19px;
		}

		&::after{
			content: "";
			position: absolute;
			top: 37px;
			left: -61px;

			width: 275px;
			height: 1px;
			background-color: #dddfe0;
		}
	}

	.filter__buttons{
		margin-left: 27px;
		margin-top: 66px;
		padding-bottom: 54px;
	}

	.filter__button{
		margin-bottom: 24px;

		&:nth-child(2){
			margin-bottom: 0;
		}
	}
}

@media (min-width: $desktop-width){



}