.form{
	width: 100%;
}

.form__wide{
	width: 100%;
	background-color: #f2f2f2;
}

.form__wrapper{
	width: 280px;
	margin: 0 auto;
}

.form__fieldset{
	margin: 0;
	padding: 0;
	border: none;
}

.form__wrap{
	margin-bottom: 18px;

	&:last-child{
		margin-bottom: 42px;
	}
}

.form__label{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 4px;

	font-size: 14px;
	line-height: 30px;
	text-transform: uppercase;
	text-indent: 22px;
	color: $pink;
}

.form__input{
	display: block;

	box-sizing: border-box;
	width: 100%;
	height: 63px;
	padding-left: 20px;

	font-size: 18px;
	line-height: 30px;
	color: #283645;

	border: 2px solid #e5e5e5;
	border-radius: 2px;

	&:hover{
		border-color: #283645;
	}

	&:focus{
		border: 2px solid $pink;
		outline: none;
	}
}

.form__legend{
	width: 230px;
	margin: 0 auto;
	padding-top: 38px;
	padding-bottom: 38px;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: $pink;

	&--hidden{
		display: none;
	}
}

.form__group{
	margin-bottom: 43px;
}

.form__group input{
	display: none;
}

.form__group label{
	position: relative;

	display: inline-block;
	vertical-align: top;

	padding-left: 70px;

	font-size: 18px;
	line-height: 39px;
	color: #283645;

	&:hover{
		cursor: pointer;
	}
}

.form__group > 
	.form__checkbox + label::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		box-sizing: border-box;
		width: 39px;
		height: 39px;

		border: 2px solid #e5e5e5;
		border-radius: 2px;
		background-color: #fff;
}

.form__group:hover > 
	.form__checkbox + label::after{
		border-color: #283645;
}

.form__group > 
	.form__checkbox:active + label::after{
		border-color: $pink;
}

.form__group > 
	.form__checkbox:checked + label::after{
		background-image: url("../img/icon-yes.svg");
		background-repeat: no-repeat;
		background-size: 22px 16px;
		background-position: 7px 9px;
}

.form__fieldset--address{
	margin-top: 32px;
}

.form__fieldset--app .form__legend{
	padding-bottom: 35px;
}

.form__fieldset--app .form__group{
	margin-bottom: 36px;

	&:last-child{
		margin-bottom: 42px;
	}
}

.form__group > 
	.form__radio + label::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		box-sizing: border-box;
		width: 39px;
		height: 39px;

		border: 2px solid #e5e5e5;
		border-radius: 50%;
		background-color: #fff;
}

.form__group:hover > 
	.form__radio + label::after{
		border-color: #283645;
}

.form__group > 
	.form__radio:active + label::after{
		border-color: $pink;
}

.form__group > 
	.form__radio:checked + label::before{
		content: "";
		position: absolute;
		top: 12px;
		left: 12px;
		z-index: 2;

		width: 15px;
		height: 15px;

		background-color: $pink;
		border-radius: 50%;
}

.form__fieldset--emoji{
	margin-bottom: 48px;
}

.form__fieldset--emoji .form__legend{
	padding-top: 33px;
	padding-bottom: 9px;
}

.form__textarea{
	display: block;
	resize: none;

	box-sizing: border-box;
	width: 100%;
	height: 201px;
	padding-left: 20px;
	padding-top: 16px;

	font-size: 18px;
	line-height: 30px;
	color: #283645;

	border: 2px solid #e5e5e5;
	border-radius: 2px;

	&:hover{
		border-color: #283645;
	}

	&:focus{
		border: 2px solid $pink;
		outline: none;
	}
}

.form__info{
	display: block;
	margin-top: 35px;
	margin-bottom: 15px;

	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	color: #283645;

	sup{
		color: $pink;
	}
}

@media (min-width: $tablet-width){
	.form{
		display: flex;
		flex-wrap: wrap;
	}

	//change blocks order

	.form__general{
		order: 1;
	}

	.form__achievements{
		order: 4;
	}

	.form__address{
		order: 3;
	}

	.form__app{
		order: 2;
	}

	.form__emoji{
		order: 5;
	}

	.form__send{
		order: 6;
	}

	//set initial params

	.form__wrapper{
		width: 620px;
	}

	.form__wrap{
		display: flex;

		margin-bottom: 52px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.form__label{
		display: inline-block;
		vertical-align: middle;

		margin-top: 17px;
		margin-right: 18px;

		text-indent: 0;
	}

	.form__input{
		display: inline-block;
		vertical-align: top;

		flex-grow: 2;
	}

	.form__wide{
		background-color: #fff;
	}

	//set main fieldset properties

	.form__fieldset{
		border: 2px solid #e5e5e5;
	}

	.form__general .form__fieldset{
		border: none;
	}

	.form__send .form__fieldset{
		border: none;
	}

	.form__fieldset{
		padding-left: 58px;
		padding-right: 58px;
	}

	.form__general .form__fieldset{
		padding: 0;
	}

	.form__send .form__fieldset{
		padding: 0;
	}

	.form__fieldset--address{
		margin-top: 0;
	}

	.form__legend{
		width: auto;
		padding-left: 38px;
		padding-right: 38px;

		&--hidden{
			display: block;
		}
	}

	// ADDRESS BLOCK

	.form__wrap--reverse{
		flex-wrap: wrap;

		margin-bottom: 29px;

		&:last-child{
			margin-bottom: 25px;
		}
	}

	.form__wrap--reverse .form__label{
		order: 3;

		margin-top: 10px;
		margin-bottom: 0;

		text-indent: 19px;
	}

	.form__wrap--reverse .form__input{
		order: 1;
		width: 70%;
	}

	.form__wrap--reverse .form__icon{
		order: 2;

		width: 60px;
		height: 63px;

		background-color: #e5e5e5;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}

	//TEXTAREA

	.form__emoji .form__legend{
		padding-bottom: 33px;
	}

	.form__textarea{
		margin-bottom: 51px;
	}

	// LAST (SEND) BLOCK

	.form__send{
		width: 100%;
		margin-bottom: 20px;
	}

	.form__fieldset--send{
		//display: flex;
		//flex-wrap: nowrap;
		//justify-content: space-between;
	}

	.form__submit{
		width: 300px;
	}

	.form__info{
		display: inline-block;
		width: 200px;
		margin-left: 115px;
	}
}