.logo{
	display: inline-block;
	max-height: 40px;
}

.logo--tablet,
.logo--desktop{
	display: none;

	transition: fill 0.25s;
}

.logo--mobile{
	fill: #fff;

	transition: fill 0.25s;
}

.logo[href]:hover .logo--mobile{
	fill: $pink;
}

.logo[href]:active .logo--mobile{
	fill: rgba(#fff, 0.3);
}


//FOOTER

.logo__footer--great{
	display: none;

	transition: fill 0.25s;
}

.logo__footer--small{
	fill: #283645;

	transition: fill 0.25s;
}

.logo[href]:hover .logo__footer--small{
	fill: $pink;
}

.logo[href]:active .logo__footer--small{
	fill: rgba(#000, 0.3);
}

@media (min-width: $tablet-width){
	.logo--mobile{
		display: none;
	}

	.logo--tablet{
		display: block;
		fill: #fff;
	}

	.logo[href]:hover .logo--tablet{
		fill: $pink;
	}

	.logo[href]:active .logo--tablet{
		fill: rgba(#fff, 0.3);
	}
}

@media (min-width: $desktop-width){
	.logo--tablet{
		display: none;
	}

	.logo--desktop{
		display: inline-block;
		fill: #fff;
	}

	.logo[href]:hover .logo--desktop{
		fill: $pink;
	}

	.logo[href]:active .logo--desktop{
		fill: rgba(#fff, 0.3);
	}


	//FOOTER

	.logo__footer--small{
		display: none;
	}

	.logo__footer--great{
		display: block;
		fill: #283645;
	}

	.logo[href]:hover .logo__footer--great{
		fill: $pink;
	}

	.logo[href]:active .logo__footer--great{
		fill: rgba(#000, 0.3);
	}
}