.offers{
	width: 100%;
}

.offers__wrapper{
	width: 320px;
	margin: 0 auto;
}

@media (min-width: $tablet-width){
	.offers{
		width: 100%;
	}

	.offers__wrapper{
		width: $tablet-width;
		margin: 0 auto;
	}
}

@media (min-width: $desktop-width){
	.offers{
		width: 100%;
	}

	.offers__wrapper{
		width: $desktop-width;
		margin: 0 auto;
	}
}