
.page-header{

}

@media (min-width: $tablet-width){
	.page-header{
	}
}


@media (min-width: $desktop-width){
	.page-header{
		position: relative;
		z-index: 10;
		
		background-color: rgba(0,0,0,0.3);
	}
}