.page-footer{
	width: 100%;

	background-color: #fff;

	&--mobile-hidden{
		display: none;
	}
}

.page-footer__wrapper{
	width: 320px;
	margin: 0 auto;

	padding-top: 40px;
}

.page-footer__logo{
	margin-bottom: 30px;

	text-align: center;
}

.page-footer__social{
	margin-bottom: 39px;

	text-align: center;
}

.page-footer__copyright{
	padding-bottom: 40px;

	text-align: center;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 130px;

	margin: 0 auto;

	b{
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		color: #283645;
	}

	a{
		display: inline-block;
		height: 34px;
	}
}

.page-footer__html{
	fill: $pink;

	transition: fill 0.4s;

	&:hover{
		cursor: pointer;
		fill: $nav-item-bg;
	}

	&:active{
		fill: rgba($nav-item-bg, 0.3);
	}
}

@media (min-width: $tablet-width){
	.page-footer{
		width: 100%;

		background-color: #fff;

		&--mobile-hidden{
			display: block;
		}
	}

	.page-footer__wrapper{
		width: 620px;

		padding-top: 36px;

		display: flex;
		justify-content: space-between;
	}

	.page-footer__social{
		margin-top: 3px;
	}

	.page-footer__copyright{
		margin: 0;
		margin-top: 5px;

		padding-bottom: 33px;
	}
}

@media (min-width: $desktop-width){
	.page-footer{
		width: 100%;
	}

	.page-footer__wrapper{
		width: 940px;

		padding-top: 98px;
	}

	.page-footer__copyright{
		margin-top: 15px;

		padding-bottom: 78px;
	}
}