.panorama {
	width: 100%;

	background-color: #fff;
}

.panorama__img{
	position: relative;

	width: 100%;
	//max-height: 137px;
	overflow: hidden;

	img{
		display: block;

		width: 100%;
		height: auto;
	}
}

.panorama__title{
	position: absolute;
	top: 0;
	right: 0;

	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;

	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;

	background-color: $pink;
}

.panorama__content{
	box-sizing: border-box;
	width: 280px;
	margin: 0 auto;
	padding-left: 18px;
	padding-right: 20px;

	color: #283645;

	background-color: #f2f2f2;
}

.panorama__header{
	padding-top: 20px;
}

.panorama__author{
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

.panorama__time{
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.panorama__desc{
	margin: 0;
	margin-bottom: 5px;

	font-size: 14px;
	line-height: 24px;
}

.panorama__row{
	padding-bottom: 16px;
	margin-bottom: 20px;

	display: flex;
}

.panorama__set-like{
	margin-top: 5px;
}

.panorama__likes{
	display: inline-block;
	vertical-align: middle;

	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
	text-indent: 18px;
	color: $pink;
}

@media (min-width: $tablet-width){
	.panorama__title{
		top: 57px;
		right: 3%;
	}

	.panorama__content{
		width: 620px;
		padding-left: 28px;
		padding-right: 28px;
		margin-bottom: 50px;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.panorama__header{
		order: 1;
	}

	.panorama__desc{
		order: 3;

		width: 100%;
	}

	.panorama__row{
		order: 2;

		margin-bottom: 0;
		padding-bottom: 0;

		margin-top: 18px;

		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 120px;
	}

	.panorama__set-like{
		order: 2;

		margin-top: 0;
	}

	.panorama__likes{
		text-indent: 0;
	}
}

@media (min-width: $desktop-width){
	.panorama__title{
		top: 54px;
		right: 10%;
	}	

	.panorama__content{
		width: 940px;

		padding-bottom: 23px;
	}
}