.post{
	width: 100%;

	background-color: #fff;
}

.post__wrapper{
	width: 280px;
	margin: 0 auto;
}

.post__img{

	img{
		display: block;
	}
}

.post__content{
	box-sizing: border-box;
	width: 280px;
	margin: 0 auto;
	padding-left: 18px;
	padding-right: 20px;

	color: #283645;

	background-color: #f2f2f2;
}

.post__header{
	padding-top: 20px;
}

.post__author{
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

.post__time{
	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
}

.post__desc{
	margin: 0;
	margin-bottom: 5px;

	font-size: 14px;
	line-height: 24px;
}

.post__row{
	padding-bottom: 18px;
	margin-bottom: 20px;

	display: flex;
}

.post__set-like{
	margin-top: 5px;
}

.post__likes{
	display: inline-block;
	vertical-align: middle;

	font-size: 12px;
	line-height: 24px;
	font-weight: 300;
	text-transform: uppercase;
	text-indent: 18px;
	color: $pink;
}
