.promo{
	width: 100%;
	margin: 0 auto;

	background-color: #1d2631;
	background-image:	url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: center top;
	background-size: 700px 462px;

	margin-top: -66px;

	@media (min-resolution: $retina-dppx), 
		(min-resolution: $retina-dpi){
			background-image: url("../../img/bg-back-mobile@2x.jpg");
		}
}

.promo__container{
	width: 320px;
	margin: 0 auto;
	padding-top: 462px;
	margin-top: -66px;

	background-image: url("../img/iphone-hand-mobile@1x.png"),
										url("../img/bg-back-mobile@1x.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: 0px 176px, center top;
	background-size: 258px 286px, 700px 462px;

	@media (min-resolution: $retina-dppx), 
		(min-resolution: $retina-dpi){
			background-image: url("../img/iphone-hand-mobile@2x.png"),
												url("../img/bg-back-mobile@2x.jpg");
		}
}

.promo__wrapper{
	background-color: #1d2631;
}

.promo__title{
	display: none;
}

.promo__link{
	margin-top: 25px;
	margin-left: 20px;
}

.promo__platforms{
	width: 205px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;

	display: flex;
	align-items: center;

	justify-content: space-between;
}

.promo__platform{

	&:hover{
		opacity: 0.6;
	}

	&:active{
		opacity: 0.4;
	}
}

.promo__desc{
	width: 240px;
	margin: 0 auto;
	padding-bottom: 28px;

	font-family: $open-sans;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #fff;
	text-align: center;
}

@media (min-width: $tablet-width){
	.promo{
		width: 100%;
		margin: 0 auto;
		margin-top: -110px;
		//padding-top: 200px;

		background-image: url("../img/bg-back-tablet@1x.jpg");
		background-position: center top;
		background-size: 1200px 729px;

		@media (min-resolution: $retina-dppx), 
			(min-resolution: $retina-dpi){
				background-image: url("../../img/bg-back-tablet@2x.jpg");
			}
	}

	.promo__container{
		width: $tablet-width;
		margin: 0 auto;
		margin-top: -110px;
		padding-top: 200px;

		background-image: url("../img/iphone-hand-tablet@1x.png"),
											url("../img/bg-back-tablet@1x.jpg");
		background-position: -20px bottom, center top;
		background-size: 700px 545px, 1200px 729px;

		@media (min-resolution: $retina-dppx), 
			(min-resolution: $retina-dpi){
				background-image: url("../img/iphone-hand-tablet@2x.png"),
													url("../img/bg-back-tablet@2x.jpg");
			}
	}

	.promo__wrapper{
		width: 300px;
		margin-left: 20px;

		background-color: transparent;
	}

	.promo__title{
		display: block;
		width: 200px;
		margin: 0 auto;

		font-family: $open-sans;
		font-size: 40px;
		line-height: 48px;
		font-weight: 300;
		text-align: center;
		color: #fff;
	}

	.promo__link{
		width: 300px;
		margin-top: 26px;

		margin-left: 0;
	}

	.promo__platforms{
		margin-top: 46px;
		margin-bottom: 32px;
	}

	.promo__desc{
		width: 300px;
		padding-bottom: 110px;

		font-size: 18px;
	}
}

@media (min-width: $desktop-width){
	.promo{
		width: 100%;
		margin: 0 auto;
		margin-top: -110px;		

		background-image: url("../img/bg-back-desktop@1x.jpg");
		background-position: center top;
		background-size: 2560px 853px;

		@media (min-resolution: $retina-dppx), 
			(min-resolution: $retina-dpi){
				background-image: url("../../img/bg-back-desktop@2x.jpg");
			}
	}

	.promo__container{
		width: $desktop-width;
		margin: 0 auto;
		margin-top: -110px;		
		padding-top: 222px;

		background-image: url("../img/iphone-hand-desktop@1x.png"),
											url("../img/bg-back-desktop@1x.jpg");
		background-position: 145px bottom, center top;
		background-size: 1050px 645px, 2560px 853px;

		@media (min-resolution: $retina-dppx), 
			(min-resolution: $retina-dpi){
				background-image: url("../img/iphone-hand-desktop@2x.png"),
													url("../img/bg-back-desktop@2x.jpg")
			}
	}

	.promo__wrapper{
		margin-left: 130px;
	}

	.promo__title{
		width: 250px;

		font-size: 50px;
		line-height: 58px;
	}

	.promo__link{
		margin-bottom: 66px;
		margin-top: 42px;
	}

	.promo__platforms{
		margin-top: 0;
		margin-bottom: 57px;
	}

	.promo__desc{
		padding-bottom: 122px;
	}
}