.rates{
	width: 100%;

	background: linear-gradient(-5deg, #f2f2f2 0%, 
		#f2f2f2 84%, #fff 84%	);
}

.rates__wrapper{
	position: relative;

	width: 320px;
	margin: 0 auto;
	overflow: hidden;
}

.rates__list{
	display: flex;

	margin-top: 133px;
	margin-bottom: 99px;
	transform: translateX(-256px);
}

.rates__item--info{
	display: none;
}

.rates__header{
	position: relative;

	width: 276px;
	padding-top: 17px;
	padding-bottom: 17px;

	text-align: center;

	background-color: #283645;
	border-radius: 2px;

	&--bordered{
		border-right: 2px solid #f2f2f2;
		border-left: 2px solid #f2f2f2;
	}
}

.rates__header--hit{
	&::after{
		content:"";
		position: absolute;
		top: 0;
		left: -2px;
		z-index: 1;

		width: 73px;
		height: 73px;

		background-image: url("../img/bg-hit.svg");
		background-repeat: no-repeat;
	}

	&:before{
		content: "ХИТ";
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2;

		font-family: $open-sans;
		font-size: 14px;
		line-height: 30px;
		text-transform: uppercase;
		font-weight: 700;
		color: #fff;

		transform: rotate(-45deg);
	}
}

.rates__title{
	position: relative;
	z-index: 2;

	margin: 0;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
}

.rates__price{
	position: relative;
	z-index: 2;

	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	color: #fff;
}

.rates__parameters{
	@include list-reset;
}

.rates__option{
	display: flex;
	justify-content: space-between;

	box-sizing: border-box;
	height: 61px;
	padding-left: 22px;
	padding-right: 17px;
	padding-top: 16px;
	padding-bottom: 14px;

	background-color: #fff;
	border-bottom: 2px solid #e5e5e5;

	&--bordered{
		border-left: 2px solid #e5e5e5;
		border-right: 2px solid #e5e5e5;
	}

	&--right{
		border-right: 2px solid #e5e5e5;
	}
}

.rates__option-title{
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #283645;
}

.rates__option-has{
	display: inline-block;
	vertical-align: top;

	width: 32px;
	height: 32px;

	background-color: rgba(red, 0.3);

	&.rates__options-has--yes{
		background-color: rgba(green, 0.4);
	}
}

// MOBILE SLIDER LOGIC

.rates__controls{
	position: absolute;
	bottom: 47px;
	left: 0;
	right: 0;

	height: 10px;

	text-align: center;
}

.rates__control{
	position: relative;

	display: inline-block;
	vertical-align: top;

	width: 6px;
	height: 6px;
	margin-right: 8px;

	font-size: 0;

	background-color: #bec2c7;
	border: 2px solid #f2f2f2;
	border-radius: 50%;

	cursor: pointer;

	&:hover{
		background-color: #888f98;
	}
}

.rates__radio--1:checked ~ .rates__controls 
	label[for=rates-slide-1]{
	background-color: #fff;
	border: 2px solid #283645;
}

.rates__radio--1:checked ~ .rates__list{
	transform: translateX(0px);
	transition: transform 0.5s;
}

.rates__radio--2:checked ~ .rates__controls 
	label[for=rates-slide-2]{
	background-color: #fff;
	border: 2px solid #283645;
}

.rates__radio--2:checked ~ .rates__list{
	transform: translateX(-256px);
	transition: transform 0.5s;
}

.rates__radio--3:checked ~ .rates__controls 
	label[for=rates-slide-3]{
	background-color: #fff;
	border: 2px solid #283645;
}

.rates__radio--3:checked ~ .rates__list{
	transform: translateX(-512px);
	transition: transform 0.5s;
}

.rates__radio{
	display: none;
}

@media (min-width: $tablet-width){
	.rates{
		background: linear-gradient(-3deg, #f2f2f2 0%, 
				#f2f2f2 85%, #fff 85%	);
	}

	.rates__wrapper{
		width: $tablet-width;
	}

	.rates__controls{
		display: none;
	}

	.rates__list{
		transform: translateX(0px);

		width: 630px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 109px;
		margin-bottom: 68px;
	}

	.rates__item--info{
		display: block;

		.rates__header{
			min-height: 62px;
			background-color: transparent;
		}

		.rates__parameters{
			border: 2px solid #e5e5e5;
		}

		.rates__option{
			padding-left: 16px;
		}
	}

	.rates__header{
		width: 156px;
		padding-top: 10px;
		padding-bottom: 7px;
	}

	.rates__header--hit{
		&::after{
			top: 0;
			left: 0;
			z-index: 3;

			width: 60px;
			height: 60px;

			background-image: url("../img/bg-hit-tablet.svg");
		}

		&:before{
			top: 6px;
			left: 5px;
			z-index: 4;
		}
	}

	.rates__title{
		font-size: 16px;
	}

	.rates__price{
		font-size: 18px;
	}

	.rates__option{
		height: auto;

		padding-top: 8px;
		padding-bottom: 5px;
		text-align: center;
	}

	.rates__option--middle{
		padding-bottom: 7px;
	}

	.rates__option--usual{
		border-bottom: none;
		padding-bottom: 7px;
		height: auto;
	}

	.rates__option-title--visible{
		color: #283645;
		font-size: 14px;
		line-height: 30px;
	}

	.rates__option-has{
		margin: 0 auto;
	}

	.rates__option-title{
		@include visually-hidden;
	}

	.rates__radio--1:checked ~ .rates__list{
		transform: translateX(0px);
	}

	.rates__radio--2:checked ~ .rates__list{
		transform: translateX(0px);
	}

	.rates__radio--3:checked ~ .rates__list{
		transform: translateX(0px);
	}
}

@media (min-width: $desktop-width){
	.rates{
		background: linear-gradient(-4deg, #f2f2f2 0%, 
			#f2f2f2 82%, #fff 82%	);
	}

	.rates__wrapper{
		width: $desktop-width;
	}

	.rates__list{
		width: 950px;
		margin-top: 186px;
		margin-bottom: 95px;
	}

	.rates__header{
		width: 235px;
		padding-top: 17px;
		padding-bottom: 17px;
	}

	.rates__header--hit{
		&::after{
			content:"";
			position: absolute;
			top: 0;
			left: -2px;
			z-index: 1;

			width: 73px;
			height: 73px;

			background-image: url("../img/bg-hit.svg");
			background-repeat: no-repeat;
		}

		&:before{
			top: 10px;
			left: 10px;
			z-index: 4;
		}
	}

	.rates__title{
		font-size: 18px;
	}

	.rates__price{
		font-size: 24px;
	}

	.rates__item--info .rates__option{
			padding-left: 22px;
	}

	.rates__option{
		height: 61px;
		padding-top: 16px;
		padding-bottom: 14px;
	}

	.rates__option--special{
		height: 61px;
	}

	.rates__option--usual{
		border-bottom: none;
		padding-bottom: 10px;
		height: 59px;
	}

	.rates__option-title--visible{
		font-size: 18px;
	}
}