.reviews{
	width: 100%;

	background-color: #fff;
}

.reviews__wrapper{
	position: relative;

	width: 320px;
	margin: 0 auto;
}

.reviews__btn{
	display: none;
}

.reviews__list{
	@include list-reset;

	padding-top: 44px;
}

.reviews__item{
	display: none;
}

.reviews__header{
	margin-bottom: 12px;
}

.reviews__author{
	display: block;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
}

.reviews__profession{
	display: none;
}

.reviews__summary{
	width: 300px;
	margin: 0 auto;
	padding-bottom: 44px;

	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #283645;
}


.reviews__controls{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: 10px;

	text-align: center;
}

.reviews__control{
	position: relative;

	display: inline-block;
	vertical-align: top;

	width: 6px;
	height: 6px;
	margin-right: 8px;

	font-size: 0;

	background-color: #bec2c7;
	border: 2px solid #fff;
	border-radius: 50%;

	cursor: pointer;

	&:hover{
		background-color: #888f98;
	}
}

.reviews__radio--1:checked ~ .reviews__controls 
	label[for=reviews-slide-1]{
	background-color: #fff;
	border: 2px solid #283645;
}

.reviews__radio--1:checked ~ .reviews__list 
	.reviews__item--1{
	display: block;
	animation: moveOut 0.4s;
}

.reviews__radio--2:checked ~ .reviews__controls 
	label[for=reviews-slide-2]{
	background-color: #fff;
	border: 2px solid #283645;
}

.reviews__radio--2:checked ~ .reviews__list 
	.reviews__item--2{
	display: block;
	animation: moveOut 0.4s;
}

.reviews__radio--3:checked ~ .reviews__controls 
	label[for=reviews-slide-3]{
	background-color: #fff;
	border: 2px solid #283645;
}

.reviews__radio--3:checked ~ .reviews__list 
	.reviews__item--3{
	display: block;
	animation: moveOut 0.4s;
}

@keyframes moveOut{
	0%{transform: scale(0.5);}
}

.reviews__radio{
	display: none;
}

@media (min-width: $tablet-width){
	.reviews{

	}

	.reviews__wrapper{
		width: $tablet-width - 40px;
		margin: 0 auto;
	}

	.reviews__list{
		padding-top: 100px;
	}

	.reviews__item{
		
	}

	.reviews__header{
		width: 100%;
		margin-bottom: 46px;

		order: 2;
	}

	.reviews__author{
		font-size: 20px;
		line-height: 30px;
	}

	.reviews__profession{
		display: block;

		font-size: 14px;
		line-height: 30px;
		color: #283645;
		font-weight: 400;
		text-align: center;
	}

	.reviews__summary{
		width: 100%;
		padding-bottom: 35px;

		font-size: 18px;
		line-height: 30px;

		order: 1;
	}

	.reviews__radio--1:checked ~ .reviews__list 
	.reviews__item--1{
		display: flex;
		flex-wrap: wrap;

		animation: moveOut 0.4s;
	}


	.reviews__radio--2:checked ~ .reviews__list 
		.reviews__item--2{
		display: flex;
		flex-wrap: wrap;

		animation: moveOut 0.4s;
	}

	.reviews__radio--3:checked ~ .reviews__list 
		.reviews__item--3{
		display: flex;
		flex-wrap: wrap;

		animation: moveOut 0.4s;
	}
}

@media (min-width: $desktop-width){
	.reviews{
		background-image: url("../../img/icon-quotes.svg");
		background-repeat: no-repeat;
		background-position: center 72px;
	}

	.reviews__wrapper{
		width: 940px;
		margin: 0 auto;
	}

	.reviews__btn{
		display: block;

		position: absolute;
		top: 218px;

		border: none;
		font-size: 0;
		background-color: transparent;

		border: solid #bec2c7;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 14px;

    cursor: pointer;

		&:hover{
			border-color: #7e868f;
		}

		&:active{
			border-color: rgba(#7e868f, 0.1);
		}

    &:focus{
    	outline: none;
    	border-width: 0 3px 3px 0;
    	border-color: rgba($pink, 0.4);
    }

		&--prev{
			left: 0;

			transform: rotate(135deg);
		}

		&--next{
			right: 0;

			transform: rotate(-45deg);
		}
	}

	.reviews--no-js .reviews__btn{
		display: none;
	}

	.reviews__controls{
		display: none;
	}

	.reviews--no-js .reviews__controls{
		display: block;
		bottom: -10px;
	}

	.reviews__header{
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.reviews__list{
		padding-top: 186px;
	}

	.reviews__item{
		
	}

	.reviews__author{
		font-size: 24px;
	}

	.reviews__summary{
		width: 700px;

	}
}