.reviews{
	width: 100%;

	background-color: #fff;
}

.reviews__wrapper{
	position: relative;

	width: 320px;
	margin: 0 auto;
}

.reviews__list{
	@include list-reset;

	padding-top: 44px;
}

.reviews__item{
	display: none;
}

.reviews__author{
	display: block;
	margin-bottom: 12px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	font-style: normal;
	text-align: center;
}

.reviews__summary{
	width: 300px;
	margin: 0 auto;
	padding-bottom: 44px;

	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #283645;
}


.reviews__controls{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: 10px;

	text-align: center;
}

.reviews__control{
	position: relative;

	display: inline-block;
	vertical-align: top;

	width: 6px;
	height: 6px;
	margin-right: 8px;

	font-size: 0;

	background-color: #bec2c7;
	border: 2px solid #fff;
	border-radius: 50%;

	cursor: pointer;
}

.reviews__radio--1:checked ~ .reviews__controls 
	label[for=reviews-slide-1]{
	background-color: #fff;
	border: 2px solid #283645;
}

.reviews__radio--1:checked ~ .reviews__list 
	.reviews__item--1{
	display: block;
	animation: moveOut 0.4s;
}

.reviews__radio--2:checked ~ .reviews__controls 
	label[for=reviews-slide-2]{
	background-color: #fff;
	border: 2px solid #283645;
}

.reviews__radio--2:checked ~ .reviews__list 
	.reviews__item--2{
	display: block;
	animation: moveOut 0.4s;
}

.reviews__radio--3:checked ~ .reviews__controls 
	label[for=reviews-slide-3]{
	background-color: #fff;
	border: 2px solid #283645;
}

.reviews__radio--3:checked ~ .reviews__list 
	.reviews__item--3{
	display: block;
	animation: moveOut 0.4s;
}

@keyframes moveOut{
	0%{transform: scale(0.5);}
}

.reviews__radio{
	display: none;
}