.summary{
	margin-top: 41px;
	margin-bottom: 41px;

	width: 100%;
	background-color: #fff;	
}

.summary__wrapper{
	width: 280px;
	margin: 0 auto;

	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #283645;
}

@media (min-width: $tablet-width){
	.summary{
		margin-top: 67px;
		margin-bottom: 67px;
	}

	.summary__wrapper{
		width: 620px;

		font-size: 18px;
	}
}

@media (min-width: $desktop-width){
	.summary{
		margin-top: 61px;
		margin-bottom: 65px;
	}

	.summary__wrapper{
		width: 940px;
	}
}