@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

body{
	width: 100%;
	
	font-family: $open-sans;
	font-size: 14px;
	line-height: 30px;

	background-color: #fff;
}

@media (min-width: $tablet-width){
	body{
	}
}

@media (min-width: $desktop-width){
	body{
	}
}

.visually-hidden{
	@include visually-hidden;
}