body{
	margin: 0 auto;

	font-family: $open-sans;
	font-size: 14px;
	line-height: 30px;

	background-color: rgba(#000,0.1);
}

@media (min-width: $tablet-width){
	body{
	}
}

@media (min-width: $desktop-width){
	body{
	}
}

.visually-hidden{
	@include visually-hidden;
}